.ListItem_Scroll{
    /* overflow-y:scroll; */
    /* overflow:auto auto;*/ /*over flow x is auto and y is auto */
    /* Use overflow: auto. Scrollbars will only appear when needed. */
    /* min-height: 370px; */
    overflow-y: auto;
    max-height: 370px;
}


.list{
    color: #fff;
    /* width: 300px; */
    width: 85%;
    /* margin: 20px auto; */
    margin: 20px 35px;
    height: 50px;
    /* background-color: #bf07ac; */
    background-color: lightgray;
    border-radius: 5px;
    opacity: .8; /* to make it light color*/
}

.list > p{
    padding: 10px;
    position:relative;
}

.list p input{
    background-color: transparent;
    border: 0;
    /* color: #fff; */
    color: black;
    font-size: 18px;
}

.list p input:focus{
    outline: none;
}

.list > p > span{
    position: absolute;
    right: 10px;
    
}

.Delete_ListItem{
    cursor: pointer;
    margin: 0 5px;
    font-size: 15px;
    color: rgb(12, 184, 241);
    opacity: .75;
}

.Delete_ListItem:hover{
    color:red;
}

.ListItem_Input{
    width: 85%;
}