body{
  background-color: #9266ff;
}

.App{
  background-color: #3f3160;
  /* height: 400vh; */
  /* width:40vh; */
  min-height: 500px;
  width: 400px;
  margin: 50px auto; /*top & bottom is 50px    left & right is auto . auto is used for align this item to horizontal-center*/
}

/* "#todo_form input" also equal to "#todo_form > input" */

#todo_form input{
  background-color: rgb(27, 112, 137);
  height: 50px;
  width: 200px;
  border:0;
  margin:20px;
  padding: 0px 20px ;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}


#todo_form input::placeholder{
  color:rgba(255, 255, 255, 0.5)
}

#todo_form input:focus, #todo_form button:focus{
  outline: none;
}


#todo_form button{

  height: 50px;
  width: 80px;
  background-color: rgb(202, 156, 24);
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: bolder;

}